In [1]:
import pandas as pd

In [6]:
states = pd.read_csv('data//states2016.csv')
states.head()

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,USA,2,United States of America,1816,1,1,2016,12,31,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAN,20,Canada,1920,1,10,2016,12,31,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
states.columns

Index(['stateabb', 'ccode', 'statenme', 'styear', 'stmonth', 'stday',
       'endyear', 'endmonth', 'endday', 'version', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [13]:
len(states['stateabb'].unique())

217

In [14]:
len(states['statenme'].unique())

217

##### save data on New_York_Times in DataFrame

In [17]:
import os

In [18]:
root_folder = 'data//New York Times'

In [21]:
data =[]
for year_folder in os.listdir(root_folder):
  year_path = os.path.join(root_folder, year_folder)
  
  #check if is's a directory
  if os.path.isdir(year_path):
    # Loop through each .txt filde in the year folder 
    for filde_name in os.listdir(year_path):
      if filde_name.endswith('.txt'):
        file_path = os.path.join(year_path, filde_name)
        # Read the content of the .txt file
        with open(file_path, "r", encoding="latin-1") as file:
            content = file.read()
            
        # Append the data to the list 
        data.append(
          {
            "year":year_folder,
            "file_name":filde_name,
            "content":content
          }
        )

In [22]:
DataDF = pd.DataFrame(data)
DataDF.to_csv('data//new_york_times_articles.csv', index=False)

In [23]:
NewYorkTimes = pd.read_csv('data//new_york_times_articles.csv')
NewYorkTimes.head()

        year file_name                                            content
0  2002-2010  2002.txt  \n============================================...
1  2002-2010  2003.txt  20030827--0172-Aug27_2003_LN_NP1.TXT-files.lis...
2  2002-2010  2004.txt  20040330--0106-Mar30_2004_LN_NP1.TXT-files.lis...
3  2002-2010  2005.txt  20050621--0042-21June_2005_LN_NP1.TXT-files.li...
4  2002-2010  2006.txt  20060317--0133-Mar17_2006_LN_NP1.txt-files.lis...

In [29]:
len(NewYorkTimes)

434